*{
    margin : 0;
    padding: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body{
    width: 100%;
    height: auto;
    background-color:  #f8f6f3;
}
.navbar{
    text-align: center;
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    background-color: #14100e;
    margin: 0px;

} 
#merk{
    font-family: "Montserrat";
    color:#EEE3CB;
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    float: left;
}

#part{
    font-family: "Montserrat";
    color:#EEE3CB;
    text-decoration: none;
    padding: 20px;
    height: 25px;
    float: right;
}
#part:hover{
    background-color: #ded5d0;
    color:  rgb(28, 28, 27);
}
#merk span{
    font-family: "Montserrat";
    color: #967E76;
}


.side1 {
    color:#4D392E;
    width: 100%;
    height: 100vh;
    text-align: center;
    
}
.side1 h1{
    margin-top: -390px;
    font-size: 90px;
}
.side1 h3{
    font-family: 'Caveat', cursive;
    font-size: 35px;
    font-weight: 200;
}

.side1 h1 span{
    color: #967E76;
}
.button .button1, .button2{
    background-color: #967E76;
    border: 2px solid #4D392E;
    border-radius: 28px;
    padding: 16px;
    width: 100px;
    height: 70px;
    text-decoration: none;
    color: white;
    margin-top: 120px;
    font-family: 'Caveat', cursive;
    /* opacity: 80%; */
}
.button :hover{
    background-color: #EEE3CB;
    color:  rgb(28, 28, 27);
}

.button2{
    margin-left : 15px
}


.container-satu{
    width:80%;
    height: 600px;
    margin: 200px auto;
    background-color: #ded5d0;
    padding: 20px;
    box-sizing: border-box;
    line-height: 1.8;
    display: flex;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    color: #4D392E;
}
.container-satu p{
    margin-top: 10px;
    font-family: 'Caveat', cursive;
    color: #14100e;
}
.kolom-utama{
    margin : 20px 50px 0;
    flex: 75%;
    line-height: 2;
}
.kolom-utama h2 span{
    color: #967E76;
}
.sidebar-dua{
    margin-top: 120px;
    margin-left : 20px;
    line-height: 1.6;
    flex: 25%;
}

.sidebar-dua p{
    font-size: 22px;
}
.galeri{
    margin: auto;
    margin-bottom: 100px;
}
.galeri img{
    margin: auto;
}
.gallery h2{
    font-size: 35px;
    color: #14100e;
    text-align: center;
    margin-bottom: 50px;
}

.maps {
    /* margin-top: 50px; */
    margin :auto;
    text-align: center;
}

.maps td{
    padding:10px 10px 30px;
    width: 100%;
    height: 420px;
    background-color: #ded5d0;
    border-radius: 8px;
}
.maps td h2{
    font-size: 35px;
    padding: 15px;
}

.footer{
    width: 100%;
    height: 300px;
    background-color: #14100e;
    margin-top: 100px;
    text-align: center;
    color: #EEE3CB;
}
.footer h2{
    padding: 10px;
    font-size: 40px;
}

.footer span{
    color: #967E76;
}
.contact{
    margin: auto;
}
.contact i{
    color: #EEE3CB; 
    font-size: 25px;
    letter-spacing: 20px;
}

.menumain{
    text-align: center;
    margin-bottom: 100px;
}
.menumain h1{
    margin: 20px auto 70px;
}
.menubody{
    width:80%;
    height: auto;
    margin:auto;
}
.menubody h3{
    font-size: 20px;
    background-color: #4D392E;
    color: #EEE3CB;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    padding: 10px;
    margin :20px auto ;
}
.isi {
    background-color: #4D392E;
    margin : 30px 30px 0px;
    text-align: center;
}

.isi td{
    padding:5px 10px 30px;
    width: 150px;
    height: 120px;
    background-color: #EEE3CB;
    border-radius: 8px;
 
}
.isi p {
    margin: 5px auto 10px;
    font-family: 'Caveat', cursive;
}
.isi td img{
    margin-bottom: 30px;
    width: 80px;
    height: 90px;
}
.isi td a{
    background-color: #967E76;
    border: 2px solid #4D392E;
    /* font-size: 12px; */
    padding: 3px;
    border-radius: 28px;
    text-decoration: none;
    color: white;
    font-family: 'Caveat', cursive;
}
.btn{
    width: 100px;
    height: 30px;
    margin-bottom: 10px;
}
